/* ===== Avatar Container ===== */
.avatar-container {
    position: absolute;
    pointer-events: auto;
    top: 3.5px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 32px;
  }
  
  .avatar-button {
    cursor: pointer;
    z-index: 1000;
    align-self: center;
    pointer-events: auto;
    margin-right: 25px;
    margin-top: 20px;
  }
  
  /* ===== Avatar Menu Box ===== */
  .avatar-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    width: 150px;
  }
  
  /* ===== Menu Item & Hover ===== */
  .avatar-menu-item {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    font-size: 15px;
    margin-bottom: 8px;
  }
  
  .avatar-menu-item:hover {
    background-color: #f0f0f0; 
  }


  @media (max-width: 800px) {
  .avatar-menu {
    width: 110px
  }
  .avatar-menu-item
  {
    font-size: 13px;
  }
}
  /* Mobile */
  @media (max-width: 620px) {
    .avatar-menu {
        right: 8px;
        width: 85vw;
        top: 60px;
      }
     
    .avatar-button {
      width: 32px !important;
      height: 32px !important;
      font-size: 0.75rem;
      margin-right: 25px;
      margin-top: 8px;
    }
  
    .avatar-menu-item {
      color: black !important;
    }
  }
  