.dropdown-results {
    position: absolute;
    background: white;
    width: 420px;
    max-height: 200px;
    left:50px;
    overflow-y:scroll;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: -1;
    top:0px;
    padding-top: 50px;
  }
  .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 4px;
  } 
  .dropdown-text{
    font-size: 15px;
    margin:0;
    margin-left: 10px;
  }
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  .dropdown-results {
    scrollbar-width: none; /* Firefox */
  }
  
  .dropdown-results::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  @media (max-width: 1020px) {
    .dropdown-results {
      justify-content: center;
      left: 25.5vw;
      top:120px;
      padding-top: 10px;
      width: 44vw;
    }
    .dropdown-text{
      margin-left: 5px;
      font-size: 14px;

    }
  }
  @media (max-width: 800px) {
    .dropdown-results {
    margin-left: 2.5px;
    }
  }
  @media (max-width: 620px) {
    .dropdown-results {
      width: 37vw;  
      display: inline;
      margin-left: 5vw;
    }
  }