
.button-container {
    display: flex;
    flex-direction: row; /* Align icons horizontally */
    align-items: center; /* Center icons vertically */
    gap: 8px; /* Space between icons */
    position: absolute;
    top: 10px; /* Position near the top of the image */
    right: 20px; /* Position near the right of the image */
    z-index: 5; /* Ensure buttons appear above the image */
    background: rgba(255, 255, 255, 0.57);
    border-radius: 20px;
}
  
.image-input-button:hover {
    background-color: rgba(20, 72, 124, 0.424) !important;
}

.delete-button:hover {
    background-color: rgba(253, 49, 49, 0.424) !important;
}

.MuiIconButton-root{
  color: rgba(0, 0, 0, 1) !important;
}