/* Desktop */
.container {
    position: absolute;
    top: 20px;
    width: 90%;
    z-index: 1000;
    display:inline-flex;
    background-color: transparent;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 60px;
}

.searchInput {
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0.2, 0.2, 0.2, 0);
    background-color: #fff;
    font-size: 15px;
    padding: 15px 25px;
    border: none;
    outline: none;
    width: 400px;
}

.filters {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    width: 500px;
}

.filter-button {
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;

}

/* Tablet */
@media (max-width: 1080px) {
    .container {
        align-items: center;
        justify-content: center;
    }
    .searchBarContainer {
        flex-direction: column; 
        align-items: center;
        display: auto;
    }
    .searchInput {
        width: 65vw;
    }
    .filters {
        justify-content: center;
        margin-top: 15px;
        gap: 8px;
        margin-left: 0px;
    }
}
/* Mobile Device */
/* Mobile Device */
@media (max-width: 540px) {
    .container {
      top: 70px; /* 👈 Push it below toggle switch */
    }
  
    .searchInput {
      width: 260px;
      height: 36px; /* make it tall enough to see text */
    }
  
    .filter-button {
      font-size: 13px;
    }
  }
  